@page
@model IndexModel
<div class="row" id="projectBack" style="display:none">
    <button type="button" id="selectNewProject" class="btn btn-outline-light btn-lg"><i class="bi bi-caret-left"></i> Select project</button>
</div>

<div class="row" id="projectSelect">
    <div class="text-center app-div">
        <h2>Select or <a href="#" onclick="NewProj()">create a new project</a></h2>
        <div class="row project-buttons text-center"></div>
    </div>
</div>

<div class="row" id="projCreate" style="display:none">
    <div class="app-div">
        <form>
            <h2><i class="bi bi-node-plus"></i> Add new project</h2>
            <div class="mb-3">
                <label for="projTitle" class="form-label">Title</label>
                <input type="text" id="projTitle" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="shortCode" class="form-label">Title Short-Code</label>
                <input type="text" id="shortCode" class="form-control" maxlength="5" />
                <div class="form-text">This will be used to identify the project when loading</div>
            </div>
            <div class="mb-3">
                <label for="projInfo" class="form-label">Description</label>
                <textarea type="text" id="projInfo" style="min-height: 5vh;" class="form-control" placeholder="Add some information about the project"></textarea>
            </div>
            <button type="button" id="cancelNewProject" class="btn btn-secondary">Cancel</button>
            <button type="submit" id="saveProject" class="btn btn-primary">Save project</button>
        </form>
    </div>
</div>

<div class="row" id="projectDetails" style="display:none">
    <div class="app-div">
        <div class="row">
            <div class="col-2">
                <img src="~/Icons/002-raven-1.png" style="max-height:125px; max-width:auto;" />
            </div>
            <div class="col">
                <div class="row">
                    <h1><i class="bi bi-info-circle"></i>&nbsp;<span id="details-title"></span></h1>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Shortcode</h4>
                        <p><div id="details-shortcode"></div></p>
                        <h4>Description</h4>
                        <p><div id="details-info"></div></p>
                    </div>
                    <div class="col">
                        <h4>Created On (UTC)</h4>
                        <p><div id="details-created"></div> </p>
                        <h4>Updated (UTC)</h4>
                        <p><div id="details-updated"></div></p>
                    </div>
                </div>              
            </div>
        </div>       
    </div>
</div>

<div class="row" id="requirementSelect" style="display:none;">
    <div class="text-center app-div">
        <h2>Select or <a href="#" data-bs-toggle="modal" data-bs-target="#newReqmodal">create a new design requirement</a></h2>
        <table class="table" id="reqsTable">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Introduced in Version</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Coverage</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

<!-- Req. + test case modal -->
<div class="modal fade" id="tcModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><i class="bi bi-book"></i> <span id="reqdetail-title-header"></span></h2>
                <h1>
                    <a href="#" class="modal-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></a>
                </h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="created" class="form-label">Created Date</label>
                            <p id="reqdetail-created"></p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="updated" class="form-label">Updated Date</label>
                            <p id="reqdetail-updated"></p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label" placeholder="Use a simple, concise name">Requirement Title</label>
                    <input id="reqdetail-title" type="text" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="info" class="form-label">Information</label>
                    <textarea id="reqdetail-info" placeholder="Describe this requirement in more detail" class="form-control" style="min-height:vh;"></textarea>
                </div>
                <div class="mb-3">
                    <label for="version" class="form-label">Version Introduced</label>
                    <input id="reqdetail-version" type="text" class="form-control"/>
                    <div class="form-text">The requirement will apply as of this version</div>
                </div>
                <br />
                <div class="testCasesTable">
                    <h2><i class="bi bi-clipboard2-check"></i> Review or <a href="#" onclick="SetupTestCase()">create test case</a></h2>
                    <div class="row">
                        <div class="col">
                            <table id="tcTable" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Test Case Title</th>
                                        <th scope="col">Created</th>
                                        <th scope="col">Updated</th>
                                        <th scope="col">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="createTC" style="display:none">
                    <br />
                    <div class="newTcTitle" style="display:none"><h2><i class="bi bi-file-earmark-plus"></i> New Test Case</h2></div>
                    <div class="editTcTitle" style="display:none"><h2><i class="bi bi-pencil"></i> Review Test Case</h2></div>
                    <div class="mb-3">
                        <label for="tcTitle" class="form-label">Title</label>
                        <input id="tcTitle" type="text" class="form-control" />
                        <div class="form-text">Use a simple case like "User can do [xyz]"</div>
                    </div>
                    <div class="mb-3">
                        <label for="tcInfo" class="form-label">Body</label>
                        <textarea class="form-control" id="tcInfo" required style="min-height:10vh;" placeholder="Add some info or steps to validate this requirement"></textarea>
                    </div>
                    <button type="button" id="cancelTC" onclick="TeardownTestCase()" class="btn btn-secondary">Cancel</button>
                    <button type="submit" id="saveTC" class="btn btn-primary">Save Test Case</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="updaterequirement" class="btn btn-primary">Save Requirement</button>
            </div>
        </div>
    </div>
</div>

<!-- New Requirement Modal -->
<div class="modal fade" id="newReqmodal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"><i class="bi bi-card-checklist"></i> Add new project requirement</h2>
                <h1>
                    <a href="#" class="modal-close" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></a>
                </h1>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="reqtitle" class="form-label" placeholder="Use a simple, concise name">Requirement Title</label>
                    <input type="text" id="reqtext" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label for="reqinfo" class="form-label">Information</label>
                    <textarea id="reqinfo" placeholder="Describe this requirement in more detail" class="form-control" style="min-height:10vh;"></textarea>
                </div>
                <div class="mb-3">
                    <label for="reqversion" class="form-label">Version Introduced</label>
                    <input id="reqversion" type="text" class="form-control" />
                    <div class="form-text">The requirement will apply as of this version</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="newrequirement" class="btn btn-primary">Save requirement</button>
            </div>
        </div>
    </div>
</div>
<input id="projectIdentifier" type="hidden"  />
<input id="reqIdentifier" type="hidden" />
<input id="caseIdentifier" type="hidden" />

